{% extends 'base_admin.html' %}
{% block title %} Manage Moderator {% endblock %}

{% load static %}
{% block css_admin %}
    <link href="{% static 'elearning_system/admin/css/manageUser.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
{% endblock %}

{% block content-header %} Quản lý Moderator {% endblock %}

{% block main_admin %}

    <div>
        <div class="container">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalAddModerator"
                    onclick="showModalAddModerator()">
                Add New Moderator
            </button>

            <!-- Modal add moderator-->
            <div class="modal fade" id="modalAddModerator" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="add-moderator">Add Moderator</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>User Name:</label>
                                    <input type="text" class="form-control" id="form_add_moderatorName">
                                    <p style="color: red;" class="hide_warning" id="warning_moderatorName">* Not null</p>
                                </div>
                                <div class="form-group">
                                    <label>Họ và tên:</label>
                                    <input type="text" class="form-control" id="form_add_moderatorfullName">
                                    <p style="color: red;" class="hide_warning" id="warning_moderatorFullName">* Not null</p>
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input type="email" class="form-control" id="form_add_moderatorEmail">
                                    <p style="color: red;" class="hide_warning" id="warning_moderatorEmail">* Not valid</p>
                                </div>
                                <div class="form-group">
                                    <label >Số điện thoại:</label>
                                    <input type="text" class="form-control" id="form_add_moderatorPhoneNumber">
                                    <p style="color: red;" class="hide_warning" id="warning_moderatorNumberPhone">* Not valid</p>
                                </div>
                                <div class="form-group">
                                    <label >Passwork:</label>
                                    <input type="password" class="form-control" id="form_add_moderatorPass">
                                    <p style="color: red;" class="hide_warning" id="warning_moderatorPass">* Not null</p>
                                </div>
                                <div class="form-group">
                                    <label>Re-Passwork:</label>
                                    <input type="password" class="form-control" id="form_add_moderatorRepass">
                                    <p style="color: red;" class="hide_warning" id="warning_moderatorRepass">* Not valid</p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="form_add_btn" onclick="addModerator()">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="container">
            <!-- Modal block and active moderator -->
            <div class="modal fade" id="modalModerator" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="warning-moderator">Block Moderator?</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Họ và tên:</label>
                                <label id="moderatorFullName">donghm</label>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <label id="moderator_email">abc@gmail.com</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btn_moderator" onclick="">Block</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    {#    table  #}
    <div class="row">
        <div class="col-sm-12">
            <div class="box-body">
                <table id="manageModeratorTable" class="table table-bordered table-striped dataTable" role="grid"
                       aria-describedby="example1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column descending" style="width: 168px;"
                            aria-sort="ascending">STT
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending" style="width: 208px;">User Name
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending" style="width: 208px;">Email
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending" style="width: 208px;">Họ và tên
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Status
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for moderator in dataModerator %}

                        <tr role="row" class="odd">
                            <td class="sorting_1"> {{ moderator.id }}</td>
                            <td>{{ moderator.user_name }}</td>
                            <td>{{ moderator.email_address }}</td>
                            <td>{{ moderator.full_name }}</td>
                            <td>{{ moderator.block_status }}</td>
                            <td>
                                <div class="row">
                                    {% if moderator.block_status == 'Active' %}

                                        <button class="btn btn-danger" id="{{ moderator.id }}" data-toggle="modal" data-target="#modalModerator"
                                                onclick="blockModerator('{{ moderator.full_name }}','{{ moderator.email_address }}',{{ moderator.id }})">
                                            Block
                                        </button>
                                    {% else %}

                                        <button class="btn btn-primary" id="{{ moderator.id }}" data-toggle="modal"
                                                data-target="#modalModerator"
                                                onclick="activeModerator('{{ moderator.full_name }}','{{ moderator.email_address }}',{{ moderator.id }})">
                                            Active
                                        </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% load static %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/admin/js/manageModerator.js' %}"></script>
    {#    <script>#}
    {#        $(function () {#}
    {#            $("#manageModeratorTable").DataTable();#}
    {#            $('#example2').DataTable({#}
    {#                "paging": true,#}
    {#                "lengthChange": false,#}
    {#                "searching": false,#}
    {#                "ordering": true,#}
    {#                "info": true,#}
    {#                "autoWidth": false#}
    {#            });#}
    {#        });#}
    {#    </script>#}
{% endblock %}