{% extends 'base_admin.html' %}
{% block title %} Manage Topic {% endblock %}

{#{% load static %}#}
{# {% block javascript %}#}
{#     <script type="text/javascript" src="{% static 'elearning_system/admin/js/manageTopic.js' %}"></script>#}
{# {% endblock %}#}

{% block content-header %} Quản lý chủ đề {% endblock %}

{% block main_admin %}

    <div>
        <div class="container">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
                    onclick="addTopic()">
                Add New Topic
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">ADD NEW TOPIC</h4>
                        </div>
                        <div class="modal-body">
                            {#                            <form>#}
                            <div class="form-group">
                                <label for="topic">Tên chủ đề:</label>
                                <input type="text" class="form-control" id="topicName" >
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                            {#                                <button type="submit" class="btn btn-default">Submit</button>#}
                            {#                            </form>#}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="addTopicBtn">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>

            {#            Modal to annouce verify delete topic #}
            <div class="modal fade" id="modalDelete" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>Bạn thực sự muốn xóa chủ đề này?</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="topic">Tên chủ đề:</label>
                                <label id="topicNameDelete">Lập trình Java</label>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwdDelete">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="addTopicBtn" onclick="deleteTopic()">
                                Delete
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    {#    </div>#}

    <div class="row">
        <div class="col-sm-12">
            <div class="box-body">
                <table id="manageTopicTable" class="table table-bordered table-striped dataTable" role="grid"
                       aria-describedby="example1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column descending" style="width: 168px;"
                            aria-sort="ascending">STT
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending" style="width: 208px;">Tên chủ đề
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Platform(s): activate to sort column ascending" style="width: 183px;">Số lượng
                            bài
                            tập
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for tag in data %}

                        <tr role="row" class="odd">
                            <td class="sorting_1"> {{ tag.id }}</td>
                            <td>{{ tag.tag_name }}</td>
                            <td>{{ tag.numberOfEx }}</td>
                            <td>
                                <div class="row">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                                            onclick="editTopic('{{ tag.tag_name }}',{{ tag.id }})">Edit
                                    </button>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">Delete
                                    </button>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}


                    </tbody>
                    {#                <tfoot>#}
                    {#                <tr>#}
                    {#                    <th rowspan="1" colspan="1">STT</th>#}
                    {#                    <th rowspan="1" colspan="1">Tên chủ đề</th>#}
                    {#                    <th rowspan="1" colspan="1">Số lượng bài tập</th>#}
                    {#                    <th rowspan="1" colspan="1">Actions</th>#}
                    {#                </tr>#}
                    {#                </tfoot>#}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% load static %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/admin/js/manageTopic.js' %}"></script>
{% endblock %}