{% extends 'base_admin.html' %}
{% block title %} Manage Topic {% endblock %}

{% load static %}
{% block css_admin %}
    <link href="{% static 'elearning_system/admin/css/manageUser.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
{% endblock %}

{% block content-header %} Quản lý chủ đề {% endblock %}

{% block main_admin %}

    <div>
        <div class="container">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addTopicModal"
                    onclick="addTopic()">
                Add New Topic
            </button>

            <!-- Modal -->
            <div class="modal fade" id="addTopicModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">ADD NEW TOPIC</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <form>
                                    {% csrf_token %}
                                    <label for="topic">Tên chủ đề:</label>
                                    <input type="text" class="form-control" id="topicName">
                                    <p style="color: red;" class="hide_warning" id="warning_topicName">* Not null</p>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="addTopicBtn" >Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>

            {#            Modal to annouce verify delete topic #}
            <div class="modal fade" id="modalDelete" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>Bạn thực sự muốn xóa chủ đề này?</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="topic">Tên chủ đề:</label>
                                <label id="topicNameDelete">Lập trình Java</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="btn_ok_delete">
                                OK
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    {#    </div>#}

    <div class="row">
        <div class="col-sm-12">
            <div class="box-body">
                <table id="manageTopicTable" class="table table-bordered table-striped dataTable" role="grid"
                       aria-describedby="example1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column descending" style="width: 168px;"
                            aria-sort="ascending">STT
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending" style="width: 208px;">Tên chủ đề
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Platform(s): activate to sort column ascending" style="width: 183px;">Số lượng
                            bài tập
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for tag in data_tag %}

                        <tr role="row" class="odd" id="rowTag{{ tag.id }}">
                            <td class="sorting_1"> {{ tag.id }}</td>
                            <td id="tagName{{ tag.id }}">{{ tag.tag_name }}</td>
                            <td>{{ tag.numberOfEx }}</td>
                            <td>
                                <div class="row">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#addTopicModal"
                                            onclick="editTopic('{{ tag.tag_name }}',{{ tag.id }})">Edit
                                    </button>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelete"
                                    onclick="deleteTopic('{{ tag.tag_name }}',{{ tag.id }})">Delete
                                    </button>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% load static %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/admin/js/manageTopic.js' %}"></script>
{% endblock %}