.container {
    padding-top: 30px;
}

.pre-scrollable {
    max-height: 200px;
    padding-right: 5px;

}

.exercise-detail {

}
#exercise-test-case-body{
    max-height:70px;
}
#exercise-instruction-body{
    max-height: 100px;
}
#code-editor-footer {
    padding-top: 15px;
}