.container {
    padding-top: 30px;
}

.pre-scrollable {
    max-height: 200px;
    padding-right: 5px;

}

.exercise-detail {

}
#exercise-test-case-body{
    max-height:70px;
}
#exercise-instruction-body{
    max-height: 100px;
}
#code-editor-footer {
    padding-top: 15px;
}
#code-editor{
    width: 780px;
}
#code-file-input{
    width: 100px;
}
.select-language-input{
    width: 150px;
}
.select-language-input label{
    width:70px;
}
#code-language{
    width: 70px;
}