{% extends 'base_moderator.html' %}
{% block title %} Manage Error Message {% endblock %}

{% block content-header %} Quản lý tin nhắn báo lỗi {% endblock %}

{% block main_admin %}

    {#    table  #}
    <div class="row">
        <div class="col-sm-12">
            <div class="box-body">
                <table id="errorMessageTable" class="table table-bordered table-striped dataTable" role="grid"
                       aria-describedby="example1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column descending" style="width: 168px;"
                            aria-sort="ascending">STT
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending" style="width: 208px;">Tiêu Đề
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Platform(s): activate to sort column ascending" style="width: 183px;">Người gửi
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Tên bài tập
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for message in messages %}

                        <tr role="row" class="odd">
                            <td class="sorting_1"> {{ forloop.counter }}</td>
                            <td>{{ message.title }}</td>
                            <td>{{ message.reporter }}</td>
                            <td>{{ message.content }}</td>
                            <td>
                                <a href="/moderator/messageDetail?message_id={{ message.id }}">
                                    <button class="btn btn-primary" onclick="viewErrorMessage()">
                                        Xem chi tiết
                                    </button>
                                </a>
                            </td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% load static %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/moderator/js/errorMessage.js' %}"></script>
{% endblock %}