{% extends 'base_moderator.html' %}
{% block title %} Manage Exercise Approved {% endblock %}

{% block content-header %} Danh sách bài tập đã duyệt {% endblock %}

{% block main_admin %}

    <div class="row">
        <div class="col-sm-12">
            <div class="box-body">
                <table id="exApprovedTable" class="table table-bordered table-striped dataTable" role="grid"
                       aria-describedby="example1_info">
                    <thead>
                    <tr role="row" class="">
                        <th class="sorting_asc "  aria-controls="example1"
                            aria-label="Rendering engine: activate to sort column descending" style="width: 100px;"
                            aria-sort="ascending">STT
                        </th>
                        <th class="sorting " aria-controls="example1"
                            aria-label="Browser: activate to sort column ascending" style="width: 170px;">Tên bài tập
                        </th>
                        <th class="sorting " aria-controls="example1"
                            aria-label="Platform(s): activate to sort column ascending" style="width: 300px;">Mô tả
                        </th>
                        <th class="sorting " taria-controls="example1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 200px;">Chủ đề
                        </th>
                        <th class="sorting " aria-controls="example1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Tác giả
                        </th>
                        <th class="sorting " aria-controls="example1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Approver
                        </th>
                        <th class="sorting " aria-controls="example1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 70px;">Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for ex in exApproved %}

                        <tr role="row" class="odd">
                            <td class=""> {{ forloop.counter }}</td>
                            <td class="">{{ ex.exercise_name }}</td>
                            <td class="">{{ ex.exercise_description }}</td>
                            <td class="">{{ ex.tag_name }}</td>
                            <td class="">{{ ex.contributor }}</td>
                            <td class="">{{ ex.approver }}</td>
                            <td class="">
                                <a href="edit_exercise?exApproved_id={{ ex.id }}">
                                    <button class="btn btn-primary" onclick="viewExApproved()">
                                        Edit
                                    </button>
                                </a>
                            </td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% load static %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/moderator/js/exApproved.js' %}"></script>
{% endblock %}