{% extends 'base_moderator.html' %}
{% block title %} Exercise Unapprove Detail{% endblock %}
{% load static %}

{% block content-header %} Chi tiết bài tập chưa duyệt {% endblock %}

{% block css_admin %}
    <link href="{% static 'elearning_system/moderator/css/exUnapproveDetail.css' %}" rel="stylesheet"/>
    <link href="{% static 'elearning_system/exercise/code_mirror/lib/codemirror.css' %}" rel="stylesheet"
          type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/exercise/code_mirror/addon/lint/lint.css' %}" rel="stylesheet"
          type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/exercise/css/code_editor.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
{% endblock %}

{% block main_admin %}

    <div class="">
        <div class="row">
            <div class="col-md-6">
                <div class="wrapper_header">
                    <h4>{{ exercise_name }}</h4>
                </div>

                <div class="wrapper_content">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <b>Exercise content:</b>
                        </div>
                        <div id="exUnapprove_content" class="pre-scrollable panel-body">
                            {{ exercise_content|linebreaksbr }}
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <b>Test case example:</b>
                        </div>
                        <div id="exUnapprove_content" class="pre-scrollable panel-body">
                            test case
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrapper_header">
                    <h4>Contributer solution</h4>
                </div>
                <div class="wrapper_content">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <b>Solution</b>
                        </div>
                        <div class="pre-scrollable panel-body" id="exercise-solution"
                             data-solution-language="{{ exercise_language }}">
                            <textarea cols="80" rows="30" class="form-control" spellcheck="false"
                                      id="exercise-solution-content"> {{ exercise_solution }}</textarea>

                        </div>
                    </div>

                </div>


                <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="col-md-12">
                        <label>Chủ đề:</label>
                        <select class="form-control" id="exercise_topic"
                                style="">
                            <option value="" disabled selected hidden>--Select topic--</option>
                            {% for tag in tagList %}
                                <option value={{ tag.id }}>{{ tag.tag_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div id="code-editor-footer">
                    <div class="form-group col-md-8 select-language-input form-inline">
                        {% csrf_token %}
                        <button type="button" class="btn " style="float: right;">
                            <a href="cancel_exercise_status?moderator_id={{ moderator_id }}&exercise_id={{ exercise_id }}">
                                Hủy
                            </a>
                        </button>
                        <button class="btn btn-primary " style="float: right;margin-right: 10px;"
                                onclick="approve_ex({{ moderator_id }},{{ exercise_id }})">
                            Duyệt
                        </button>
                    </div>


                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/moderator/js/exUnapproveDetail.js' %}"></script>

    <link rel="stylesheet" href="{% static 'elearning_system/exercise/code_mirror/theme/eclipse.css' %}">
    <link rel="stylesheet" href="{% static 'elearning_system/exercise/code_mirror/theme/ambiance.css' %}">

    <script type="text/javascript" src="{% static 'elearning_system/exercise/js/bootstrap-filestyle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'elearning_system/exercise/code_mirror/theme/eclipse.css' %}">
    <link rel="stylesheet" href="{% static 'elearning_system/exercise/code_mirror/theme/ambiance.css' %}">
    <script src="{% static 'elearning_system/exercise/code_mirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/edit/matchbrackets.js' %}"></script>
    <link rel="stylesheet" href="{% static 'elearning_system/exercise/code_mirror/addon/hint/show-hint.css' %}">
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/hint/anyword-hint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/hint/show-hint.js' %}"></script>
    {#code mirror mode#}
    <script src="{% static 'elearning_system/exercise/code_mirror/mode/javascript/javascript.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/mode/python/python.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/mode/clike/clike.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/mode/pascal/pascal.js' %}"></script>


    <script src="{% static 'elearning_system/exercise/code_mirror/jshint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/lint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/javascript-lint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/json-lint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/css-lint.js' %}"></script>
    <script>
        var solution_content_view = CodeMirror
                .fromTextArea(document.getElementById("exercise-solution-content"), {
                    lineNumbers: true,
                    matchBrackets: true,
                    mode: "text/x-java",
                    indentUnit: 4
                });
        var current_language = '';
        var solution_language = $("#exercise-solution").data('solution-language');
        if (solution_language == 'java') {
            current_language = "text/x-java";
        } else if (solution_language == 'python') {
            current_language = "text/x-python";

        } else if (solution_language == 'js') {
            current_language = "text/javascript";

        } else {
            current_language = "text/x-c++src";

        }
        solution_content_view.setOption("mode", current_language);
        solution_content_view.setOption("theme", 'eclipse');
        solution_content_view.setOption("readOnly", 'true');
        setTimeout(function () {
            solution_content_view.refresh();
        }, 500);
        var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
        CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl") + "-Space"] = "autocomplete";
    </script>

{% endblock %}