{% extends 'base_moderator.html' %}
{% block title %} Exercise Approved Detail{% endblock %}
{% load static %}

{% block content-header %} Chi tiết bài tập đã duyệt {% endblock %}

{% block css_admin %}
    <link href="{% static 'elearning_system/exercise/css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'elearning_system/moderator/css/exUnapproveDetail.css' %}" rel="stylesheet"/>
    <link href="{% static 'elearning_system/moderator/css/exApprovedDetail.css' %}" rel="stylesheet"/>
    <link href="{% static 'elearning_system/exercise/css/code_editor.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/exercise/css/jquery.numberedtextarea.css' %}" rel="stylesheet"
          type="text/css"
          media="all"/>
{% endblock %}


{% block main_admin %}

    <div class="container">
        <div class="col-md-4 excercise-section text-justify scrollable">
            {% for ex in exApproved %}
                <h4 id="exercise-title-unapprove" class="text-info">{{ ex.exercise_name }}</h4>
                <div class="exercise-detail pre-scrollable">
                    <div id="ad_exerciseContent" class="content_ExApproved_Detail">{{ ex.exercise_description }}</div>
{#                    <div id=" ad_exerciseContent">#}
{#                         We can also divide one number by another.#}
{#                    JavaScript uses the / symbol for division.#}
{#                    You are given two linked lists representing two non-negative numbers.#}
{#                    The digits are stored in reverse order and each of their nodes contain a single digit.#}
{#                    Add the two numbers and return it as a linked list.#}
{#                    We can also divide one number by another.#}
{#                    JavaScript uses the / symbol for division.#}
{#                    You are given two linked lists representing two non-negative numbers.#}
{#                    The digits are stored in reverse order and each of their nodes contain a single digit.#}
{#                    Add the two numbers and return it as a linked list.#}
{#                    We can also divide one number by another.#}
{#                    JavaScript uses the / symbol for division.#}
{#                    You are given two linked lists representing two non-negative numbers.#}
{#                    The digits are stored in reverse order and each of their nodes contain a single digit.#}
{#                    Add the two numbers and return it as a linked list.#}
{#                    We can also divide one number by another.#}
{#                    JavaScript uses the / symbol for division.#}
{#                    You are given two linked lists representing two non-negative numbers.#}
{#                    The digits are stored in reverse order and each of their nodes contain a single digit.#}
{#                    Add the two numbers and return it as a linked list.#}
{#                    We can also divide one number by another.#}
{#                    JavaScript uses the / symbol for division.#}
{#                    You are given two linked lists representing#}
{#                    </div>#}
                </div>
            {% endfor %}

            <div id="exercise-test-case" class="test-case-exUnapprove">
                <h4 id="exercise-test-case-header" class="text-danger">
                    Test case example
                </h4>
                <div id="exApproved_testCase" class="pre-scrollable">
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                </div>
            </div>
            <div id="exercise-test-case" class="test-case-exUnapprove">
                <h4 id="exercise-test-case-header" class="text-danger">
                    Console
                </h4>
                <div id="exApproved_console" class="pre-scrollable">
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                    <p>x1=2;x2=4;x3=6;x4=8 => y=12</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 code-editor-field">
            <div id="code-editor-header" class="row">
                <div class="">
                    <h4 class="text-danger">
                        {% for ex in exApproved %}
                            Contributer (<span>{{ ex.contributer_id.account_name }}</span>) solution
                        {% endfor %}
                    </h4>
                </div>
            </div>
            <div id="code-editor-body" class="row">
                <input type="hidden" id="exercise-id" value="123">
                <textarea cols="60" rows="20" class="form-control" spellcheck="false" id="code-editor-exUnaprove"
                          style="color: #1b6d85"></textarea>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    <label>Chủ đề:</label>
                    <select class="form-control" id="" style="">
                        {% for tag in tagList %}
                            <option>{{ tag.tag_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="code-language" style="">Language:</label>
                    <select class="form-control" id="" style="">
                        <option>Java</option>
                        <option>C</option>
                        <option>Javascript</option>
                        <option>Pascal</option>
                    </select>
                </div>


            </div>
            <div id="code-editor-footer">
                <div class="form-group col-md-8 select-language-input form-inline">

                    <button type="button" class="btn btn-primary" style="float: right;" disabled>
                        Cập nhật
                    </button>
                    <button type="button" class="btn btn-primary " style="float: right;margin-right: 10px;"
                            onclick="">
                        Run
                    </button>
                </div>


            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/moderator/js/exUnapproveDetail.js' %}"></script>
{% endblock %}