{% extends 'base_moderator.html' %}
{% block title %} Manage Exercise{% endblock %}

{% load static %}
{% block css_admin %}
    <link href="{% static 'elearning_system/moderator/css/exNoTopic.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
{% endblock %}

{% block content-header %} Danh sách bài tập chưa có chủ đề {% endblock %}

{% block main_admin %}

    <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="addTopicForEx" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">THÊM CHỦ ĐỀ CHO BÀI TẬP</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="topic">Thông tin về bài tập: </label>
                        </div>
                        <table class="table borderless">
                            <tr>
                                <td>Tên bài tập</td>
                                <td id="exNoTopic_name">Tìm số hoàn hảo 1</td>
                            </tr>
                            <tr>
                                <td>Tác giả</td>
                                <td id="exNoTopic_contributer">donghm1</td>
                            </tr>
                        </table>
                        <div class="form-group">
                            {% csrf_token %}
                            <label for="topic">Tên chủ đề:</label> <br/>
                            <select id="selectTopic" name="fieldName" class="overall classes"
                                    data-btn-class="option toggle classes">
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}">{{ tag.tag_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="addTopicBtn" onclick="actionAdd()">Add
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb" id="infor_change" style="background-color: #c3e8ec; display: none">
                <li>
                    <h5 style="color: blue" id="message_add"></h5>
                </li>
            </ul>
            <div class="box-body">
                <table id="exNoTopicTable" class="table table-bordered table-striped dataTable" role="grid"
                       aria-describedby="example1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column descending" style="width:50px;"
                            aria-sort="ascending">STT
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending" style="width: 150px;">Tên bài tập
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 200px;">Mô tả
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for ex in exNoTopic %}

                        <tr role="row" class="odd" id="exercise_{{ ex.id }}">
                            <td class="sorting_1"> {{ forloop.counter }}</td>
                            <td>{{ ex.exercise_name }}</td>
                            <td>{{ ex.exercise_description }}</td>
                            <td>
                                <button class="btn btn-primary" data-toggle="modal" data-target="#addTopicForEx"
                                        onclick="addTopicForEx('{{ ex.id }}','{{ ex.exercise_name }}','{{ ex.contributor }}')">
                                    Thêm chủ đề
                                </button>
                            </td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% load static %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/moderator/js/exNoTopic.js' %}"></script>
{% endblock %}