{% extends 'base_moderator.html' %}
{% block title %} Manage Exercise{% endblock %}

{% load static %}
{% block css_admin %}
    <link href="{% static 'elearning_system/moderator/css/exNoTopic.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
{% endblock %}

{% block content-header %} Danh sách bài tập chưa có chủ đề {% endblock %}

{% block main_admin %}

    <div class="container">
        <!-- Trigger the modal with a button -->
        {#        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addTopicForEx"#}
        {#                onclick="addTopic()">#}
        {#            Add New Topic#}
        {#        </button>#}

        <!-- Modal -->
        <div class="modal fade" id="addTopicForEx" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">THÊM CHỦ ĐỀ CHO BÀI TẬP</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="topic">Thông tin về bài tập: </label>
                        </div>
                        <table class="table borderless">
                            <tr>
                                <td>ID</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>Tên bài tập</td>
                                <td>Tìm số hoàn hảo 1</td>
                            </tr>
                            <tr>
                                <td>Tác giả</td>
                                <td>donghm1</td>
                            </tr>
                        </table>
                        <div class="form-group">
                            <label for="topic">Tên chủ đề:</label> <br />
                            {#                            <input type="text" class="form-control" id="topicName">#}
                            <select id="selectTopic" name="fieldName" class="overall classes"
                                    data-btn-class="option toggle classes">
                                <option>Option 1</option>
                                <option>Option 2</option>
                            </select>
                        </div>


                        {#                        <div class="form-group">#}
                        {#                            <label for="pwd">Password:</label>#}
                        {#                            <input type="password" class="form-control" id="pwd">#}
                        {#                        </div>#}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="addTopicBtn">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                   aria-describedby="example1_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="Rendering engine: activate to sort column descending" style="width: 168px;"
                        aria-sort="ascending">STT
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="Browser: activate to sort column ascending" style="width: 208px;">ID bài tập
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="Browser: activate to sort column ascending" style="width: 208px;">Tên bài tập
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Tác giả
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Số views
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Action
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for ex in exNoTopic %}

                    <tr role="row" class="odd">
                        <td class="sorting_1"> {{ ex.STT }}</td>
                        <td>{{ ex.id }}</td>
                        <td>{{ ex.exName }}</td>
                        <td>{{ ex.exAuthor }}</td>
                        <td>{{ ex.exViews }}</td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#addTopicForEx"
                                    onclick="addTopicForEx()">
                                Thêm chủ đề
                            </button>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% load static %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/moderator/js/exNoTopic.js' %}"></script>
{% endblock %}