{% extends 'base_moderator.html' %}
{% block title %} Manage Exercise Unapprove {% endblock %}

{% block content-header %} Danh sách bài tập chưa duyệt {% endblock %}

{% block main_admin %}

    <div class="row">
        <div class="col-sm-12">
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                   aria-describedby="example1_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="Rendering engine: activate to sort column descending" style="width: 168px;"
                        aria-sort="ascending">STT
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="Browser: activate to sort column ascending" style="width: 208px;">ID bài tập
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="Browser: activate to sort column ascending" style="width: 208px;">Tên bài tập
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="Platform(s): activate to sort column ascending" style="width: 183px;">Chủ đề
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Tác giả
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="CSS grade: activate to sort column ascending" style="width: 103px;">Action
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for ex in exUnapprove %}

                    <tr role="row" class="odd">
                        <td class="sorting_1"> {{ ex.STT }}</td>
                        <td>{{ ex.id }}</td>
                        <td>{{ ex.exName }}</td>
                        <td>{{ ex.exTopic }}</td>
                        <td>{{ ex.exAuthor }}</td>
                        <td>
                            <a href="#">
                                <button class="btn btn-primary" onclick="viewExUnapproved()">
                                    View Detail
                                </button>
                            </a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% load static %}
 {% block javascript %}
     <script type="text/javascript" src="{% static 'elearning_system/moderator/js/exUnapprove.js' %}"></script>
 {% endblock %}