{% extends 'base_moderator.html' %}
{% block title %} Detail Error Message {% endblock %}

{#{% load static %}#}
{#{% block css_admin %}#}
{#    <link  type="text/css" href="{% static 'elearning_system/moderator/css/messageDetail.css' %}" rel="stylesheet"/>#}
{#{% endblock %}#}

{% block content-header %} Chi tiết tin nhắn báo lỗi {% endblock %}

{% block main_admin %}
    <div class="container" style="width:90%">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4><b>Message</b></h4>
            </div>
            <div class="panel-body">
                <div id="messageDetail_header" class="row">
                    <div class="col-sm-3" >
                        <h5><b>Exercise name:</b></h5>
                    </div>
                    <div class="col-sm-9" style="display: table-cell;">
                        {{ exercise_name }}
                    </div>

                </div>
                <hr>
                <div id="messageDetail_header" class="row">
                    <div class="col-sm-3" >
                        <h5><b>Title:</b></h5>
                    </div>
                    <div class="col-sm-9">
                        {{ title }}
                    </div>
                </div>
                <hr>
                <div id="messageDetail_header" class="row">
                    <div class="col-sm-3" >
                        <h5><b>Content:</b></h5>
                    </div>
                    <div class="col-sm-9">
                        {{ content }}

                    </div>
                </div>
                <hr>
                <a href="detail_exApproved?exApproved_id=33" type="button" class="btn btn-primary pull-right">Chi tiết bài tập >></a>
            </div>
        </div>
        {#        <div id="messageDetail_header">#}
        {#            <p><b>Tên bài: </b><span>Tìm số hoàn hảo</span></p>#}
        {#            <p><b>Tiêu đề: </b><span>Lỗi logic bài tập 1</span></p>#}
        {#        </div>#}
        {##}
        {#        <div id="messageDetail_content">#}
        {#            <h4><b>Nội dung lỗi:</b></h4>#}
        {#            <label>aaaaaaaaaaaaaaaaaaaaa sadsdf sdgdfg sdfgs sd sdfg adfs vadfsvda adgsdadf</label>#}
        {#        </div>#}
    </div>


{% endblock %}

{% load static %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/moderator/js/errorMessage.js' %}"></script>
{% endblock %}