{% extends 'base_moderator.html' %}

{% block title %} Manage Exercise{% endblock %}

{% block main_admin %}
    <div class="container row">
        <div class="page-header"> Trạng thái duyệt bài tập</div>
        <div class="panel panel-default col-sm-2 col-md-8 col-md-offset-2"
             style="background-color: #c3e8ec; height:200px;vertical-align: middle"
             role="alert">
            <h4 style="  padding-top: 10%; padding-left: 20%">You hava approved <b>{{ exercise_name }}</b> successfully.</h4>
        </div>
        <div style="padding-left: 38%; padding-top: 20%">
            <a href="exUnapprove" class="btn btn-primary"><< Quay lại danh sách bài tập chưa duyệt</a>
        </div>
    </div>
{% endblock %}