.test-case-exUnapprove {
    margin-top: 30px;
}

#exUnapprove_testCase {
    max-height: 150px;
}

#exApproved_testCase{
    height: 150px;
}

#exApproved_console{
    height: 150px;
}

.content_ExApproved_Detail {
    height: 100px;
}
