
.image_homepage{
    border-radius: 2px;
    box-shadow: 5px 10px 10px #D1D1D1;
    background-image: url("http://placehold.it/250x200");
    height: 200px;
}

.user_name{
    text-align: center;
}
.user_name h5{
    font-weight: 300;
}
.pagination_btn{
    cursor: pointer;
}
/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
#heade_category{
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.subMenu {
    background: #337ab7;
    text-align: center;
}

.subMenu a {
    pointer-events: none;
    cursor: default;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
/*----------- Top user ---------------*/
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 40px 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}

