{% extends 'base_admin_moderator.html' %}

{% block href_home %}
manageTopic
{% endblock %}

{% block sidebar_menu %}
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
            <a href="/admin/manageTopic">
                <i class="fa fa-dashboard"></i> <span>Quản lý chủ đề</span>
            </a>
        </li>
        <li class="treeview">
            <a href="/admin/manageUser">
                <i class="fa fa-edit"></i> <span>Quản lý User</span>
            </a>
        </li>
        <li>
            <a href="/admin/manageModerator">
                <i class="fa fa-calendar"></i> <span>Quản lý Moderator</span>
            </a>
        </li>
    </ul>

{% endblock %}