<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="{% static 'elearning_system/base/css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap-theme.css.map' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap-theme.min.css.map' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap.css.map' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap.min.css.map' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/base.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <script src="{% static 'elearning_system/base/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'elearning_system/base/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'elearning_system/user/js/jquery.bootpag.min.js' %}"></script>
    {% block style_sheet %}{% endblock %}

</head>

<body>

<div class="header_expert">

    <nav class="navbar navbar-dark bg-primary custom_navbar navbar-fixed-top">
        <div class="container-fluid row" id="top_menu_elearning">
            <div class="navbar-header" style="padding-left: 7px;">
                <a class="navbar-brand" href="{% url 'index' %}" id="logo_base_expert">Coding School</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'test_code' %}">Test code</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">More
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'ranking' %}">Ranking</a></li>
                        <li><a href="{% url 'contribute_exercise' %}">Contribute</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left " id="form_search" action="/search">

                <div class="input-group" style="display: inline-flex;">
                    <div class="input-group-btn search_panel_elearing">
                        <button type="button" style="width: 80px"
                                class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept" >Sort by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="filter_search">
                            <li data-value="View" class="li_search_option"><a>View</a></li>
                            <li data-value="Solve" class="li_search_option"><a>Solve</a></li>
                            <li data-value="Date" class="li_search_option"><a>Date created</a></li>
                            <li class="divider"></li>
                            <li data-value="All" class="li_search_option"><a>All</a></li>
                        </ul>
                    </div>
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <input id="test_test" data-quicksearch = '{% url 'quick_search' %}'
                            type="text" name="search" aria-haspopup="true" aria-expanded="false"
                                   class="form-control dropdown-toggle" data-toggle="dropdown" placeholder="Search"
                                   style="width: 150px" onkeyup="doDelayedSearch(this.value)">
                            <ul class="dropdown-menu" id="typeahead_search" style="display:none;">
                            </ul>
                        </div>
                        <button class="btn btn-default" type="submit" id="search_handle">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            {% if not user_name %}
                <ul class="nav navbar-nav navbar-right" id="form_login_logout" style="padding-right: 15px">
                    <li><a href="{% url 'registry' %}"><span
                            class="glyphicon glyphicon-user"></span> Sign up</a></li>
                    <li><a href="{% url 'login' %}"><span
                            class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right" style="padding-right: 15px">
                    {% for role in role_list %}
                        {% if role == 'moderator' %}
                            <li><a href="{% url 'errorMessage' %}"> Moderator</a></li>
                        {% elif role == 'admin' %}
                            <li><a href="{% url 'manageTopic' %}"> Admin</a></li>
                        {% endif %}
                    {% endfor %}
                    <li><a href="{% url 'user_infor' %}?user_name={{ user_name }}"><span
                            class="glyphicon glyphicon-user"></span> Hi, {{ user_name }}</a></li>
                    <li><a href="{% url 'logout' %}"><span
                            class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</div>
{% block main %}
{% endblock %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-2 col-sm-4 col-xs-6">
                    <h3> Contact with us</h3>
                    <ul>
                        <li> Company: Trường Đại Học Bách Khoa Hà Nội</li>
                        <li>Gmail: elearning@gmail.com</li>
                        <li>Phone number: 099-999-999</li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Report </h3>
                    <ul>
                        <li><a href="#">Click here </a> to report your problem!</li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Test Code </h3>
                    <ul>
                        <li><a href="#">Click here </a> to test code!</li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Subscribe </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> subscribe <i
                                        class="fa fa-long-arrow-right"> </i></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer 2014. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>

{# load file javascript#}


<script src="{% static 'elearning_system/base/js/base.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>