<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="{% static 'elearning_system/base/css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap-theme.css.map' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap-theme.min.css.map' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap.css.map' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/bootstrap.min.css.map' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/jquery.typeahead.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/base/css/base.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    {% block style_sheet %}{% endblock %}
    <script src="{% static 'elearning_system/base/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'elearning_system/base/js/jquery.typeahead.js' %}"></script>

</head>

<body>
<div class="header_expert">
    <nav class="navbar navbar-dark bg-primary custom_navbar">
        <div class="container-fluid" id="top_menu_elearning">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" id="logo_base_expert">Coding School</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">Test code</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">More
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ranking</a></li>
                        <li><a href="#">Contribute</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </li>
            </ul>
            {#            <form class="navbar-form navbar-left" action="/search">#}
            {#                <div class="input-group" style="display: inline-flex">#}
            {#                    <input type="text" name="search" class="form-control typeahead" placeholder="Search">#}
            {#                    <div class="input-group-btn">#}
            {#                        <button class="btn btn-default" type="submit">#}
            {#                            <i class="glyphicon glyphicon-search"></i>#}
            {#                        </button>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </form>#}
            <form class="navbar-form navbar-left" id="form-hockey_v1" name="form-hockey_v1">
                <div class="typeahead__container input-group">
                    <div class="typeahead__field">

                        <span class="typeahead__query">
                            <input class="js-typeahead-hockey_v1" name="hockey_v1[query]" type="search"
                                   placeholder="Search"
                                   autocomplete="off">
                        </span>
                        <span class="typeahead__button">
                            <button type="submit">
                                <i class="typeahead__search-icon"></i>
                            </button>
                        </span>

                    </div>
                </div>
            </form>
            {% if not result.username %}
                <ul class="nav navbar-nav navbar-right" id="form_login_logout">
                    <li><a href="#" data-toggle="modal" data-target="#logout-modal" id="login_elearning"><span
                            class="glyphicon glyphicon-user"></span> Registry</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#login-modal"><span
                            class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span
                            class="glyphicon glyphicon-user"></span> Hi, {{ result.username }}</a></li>
                    <li><a href="{% url 'logout' %}"><span
                            class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</div>

{# ------------- popup form login ---------------#}
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container" id="login_popup">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1>Login to Your Account</h1>
            <br>
            <form id="login_form">
                {% csrf_token %}
                <input type="text" name="user" placeholder="Username" id="username_login">
                <input type="password" name="pass" placeholder="Password" id="password_login">
                <input type="button" name="login" class="login loginmodal-submit" style="width: 100%" value="Login"
                       id="handle_login">
            </form>

            <div class="login-help">
                <a href="#" data-toggle="modal" data-target="#logout-modal" data-dismiss="modal">Register</a> - <a
                    href="#">Forgot Password</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        {#		$(document).ready(function() {#}
        {#			$().UItoTop({ easingType: 'easeOutQuart' });#}
        {##}
        {#		});#}
    </script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</div>

{# ------------- popup form registry ---------------#}
<div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container" id="registry_popup">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1>Registry</h1>
            <br>
            {% csrf_token %}
            <form id="registry_form">
                <input type="text" name="user" placeholder="Username" id="username_registry">
                <input type="text" name="account" placeholder="Account name" id="account_registry">
                <input type="text" name="gmail" placeholder="Gmail" id="gmail_registry">
                <input type="password" name="pass" placeholder="Password" id="password_registry">
                <input type="password" name="repass" placeholder="Repeat Password" id="repass_registry">
                <input type="button" name="registry" class="login loginmodal-submit" style="width: 100%"
                       value="Registry" id="handle_registry">
            </form>
        </div>
    </div>
</div>
{% block main %}
{% endblock %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-2 col-sm-4 col-xs-6">
                    <h3> Contact with us</h3>
                    <ul>
                        <li> Company: Trường Đại Học Bách Khoa Hà Nội</li>
                        <li>Gmail: elearning@gmail.com</li>
                        <li>Phone number: 099-999-999</li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Report </h3>
                    <ul>
                        <li><a href="#">Click here </a> to report your problem!</li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Test Code </h3>
                    <ul>
                        <li><a href="#">Click here </a> to test code!</li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Subscribe </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> subscribe <i
                                        class="fa fa-long-arrow-right"> </i></button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li><a href="#"> <i class=" fa fa-facebook"> </i> </a></li>
                        <li><a href="#"> <i class="fa fa-twitter"> </i> </a></li>
                        <li><a href="#"> <i class="fa fa-google-plus"> </i> </a></li>
                        <li><a href="#"> <i class="fa fa-pinterest"> </i> </a></li>
                        <li><a href="#"> <i class="fa fa-youtube"> </i> </a></li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer 2014. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>

{# load file javascript#}

<script src="{% static 'elearning_system/base/js/bootstrap.min.js' %}"></script>
<script src="{% static 'elearning_system/base/js/base.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>