{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block style_sheet %}
    <link href="{% static 'elearning_system/user/css/index.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
{% endblock %}
{% block javascript %}

    <script src="{% static 'elearning_system/user/js/index.js' %}"></script>

{% endblock %}
{% block main %}

    <div class="top_padding_elearning"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 panel-default">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="subMenu"><a href="" id="heade_category">CATEGORY</a></li>
                                {% for topic in topic_list %}
                                    <li><a href="list_ex?tag={{ topic.id }}"><span class="glyphicon glyphicon-forward"
                                                                                   style="color:#337ab7">

                                    </span>{{ topic.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Subscribe</h3>
                    </div>
                    <div class="panel-body">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNf1q8HZiODubNf-kqas2MKJu1IcqUg3IN5YnpEnoPXE-vTnvD"
                             width="100%">
                        Click <a href="#"> here</a> to update new exercise
                    </div>
                </div>


            </div>
            <div class="col-sm-9 ">
                <div class="well">
                    <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row-fluid">
                                    {% for user in top_user %}
                                        {% if forloop.counter <= 4 %}
                                            <div class="col-sm-3">
                                                <div class="user_name thumbnail">
                                                    <div class="avatar"><a href="#x"><img
                                                            src="http://placehold.it/250x200" alt="Image"
                                                            style="max-width:100%;"/></a></div>
                                                    <div class="user_name_expert"><h5>{{ user.user_name }}</h5></div>
                                                    <div class="user_info_expert">
                                                <span class="glyphicon glyphicon-ok-circle" style="color:#337ab7"
                                                      aria-hidden="true"></span> {{ user.passed }}
                                                        <span class="glyphicon glyphicon-cloud-upload"
                                                              style="color:#337ab7"
                                                              aria-hidden="true"></span> {{ user.contributed }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div><!--/row-fluid-->
                            </div><!--/item-->

                            <div class="item">
                                <div class="row-fluid">
                                    {% for user in top_user %}
                                        {% if forloop.counter > 4 %}
                                            <div class="col-sm-3">
                                                <div class="user_name thumbnail">
                                                    <div class="avatar"><a href="#x"><img
                                                            src="http://placehold.it/250x200" alt="Image"
                                                            style="max-width:100%;"/></a></div>
                                                    <div class="user_name_expert"><h5>{{ user.user_name }}</h5></div>
                                                    <div class="user_info_expert">
                                                <span class="glyphicon glyphicon-ok-circle" style="color:#337ab7"
                                                      aria-hidden="true"></span> {{ user.passed }}
                                                        <span class="glyphicon glyphicon-cloud-upload"
                                                              style="color:#337ab7"
                                                              aria-hidden="true"></span> {{ user.contributed }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div><!--/row-fluid-->
                            </div><!--/item-->

                        </div><!--/carousel-inner-->

                        <a class="left carousel-control" href="#myCarousel" data-slide="next"><span
                                class='glyphicon glyphicon-chevron-left'></span></a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="prev"><span
                                class='glyphicon glyphicon-chevron-right'></span></a>
                        </a><!--/myCarousel-->

                    </div>
                </div><!--/well-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6"><h4>Top Exercise</h4></div>
                            <div class="col-sm-6">
                                <div class="form-group pull-right">
                                    <select class="selectpicker form-control" id="compare_elearning"
                                            data-length-exercise="{{ length }}">
                                        <option value="compare">---- Sort ----</option>
                                        <option value="view">View</option>
                                        <option value="passed">Passed</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% for exercise in top_exercise %}
                            {% if forloop.counter <= 5 %}
                                <div class="row exercise_list_elearning">
                                    <div class="col-sm-12">
                                        <h4 class="exercise_name">{{ exercise.name }}</h4>
                                        <hr class="soft"/>
                                        <p class="exercise_description">
                                            {{ exercise.description }}
                                        </p>
                                        <div class="row list_ex_expert">
                                            <div class="col-sm-10">
                                                <ul class="nav nav-pills pull-left" role="tablist">
                                                    <li role="presentation"><a><span
                                                            class="glyphicon glyphicon-user "
                                                            aria-hidden="true"></span> <span
                                                            class="exercise_contributor">
                                                    {{ exercise.contributor }}</span>
                                                    </a>
                                                    </li>
                                                    <li role="presentation"><a>Passed <span
                                                            class="badge"><span
                                                            class="exercise_passed"> {{ exercise.passed }}</span></span></a>
                                                    </li>
                                                    <li role="presentation"><a>View <span
                                                            class="badge"><span
                                                            class="exercise_view"> {{ exercise.view }}</span> </span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-2">
                                                <a class="btn btn-primary pull-right exercise_detail_btn"
                                                   href="product_details.html">View
                                                    Details</a>
                                            </div>
                                        </div>
                                        <br class="clr"/>
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="pagination_elearning" data-current-page="0">
                                <li class="pagination_btn" id="first_pagination_elearning" data-value="-">
                                    <span href="#" style="cursor:not-allowed">
                                        <span aria-hidden="true">&laquo;</span>
                                    </span>
                                </li>
                                <li class="active pagination_btn" data-value="1"><span href="#" style="cursor:pointer">1<span
                                        class="sr-only">(current)</span></span></li>
                                <li class="pagination_btn" id="last_pagination_elearning" data-value="+">
                                    <span style="cursor:pointer">
                                        <span aria-hidden="true">&raquo;</span>
                                    </span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}