{% extends 'base.html' %}
{% load static %}

{% block title %}Exercise List{% endblock %}

{% block style_sheet %}
    <link href="{% static 'elearning_system/user/css/list_ex_of_topic.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
{% endblock %}
{% block javascript %}
    <script src="{% static 'elearning_system/user/js/list_ex_of_topic.js' %}"></script>
{% endblock %}
{% block main %}
    <div class="top_padding_elearning"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 panel-primary">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="subMenu"><a href="" id="heade_category">CATEGORY</a></li>
                                {% for topic in topic_list %}
                                    <li><a href="list_ex?tag={{ topic.id }}"><span class="glyphicon glyphicon-forward"
                                                                                   style="color:#337ab7">

                                    </span>{{ topic.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
{#                <div class="panel panel-primary">#}
{#                    <div class="panel-heading">#}
{#                        <h3 class="panel-title">Subscribe</h3>#}
{#                    </div>#}
{#                    <div class="panel-body">#}
{#                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNf1q8HZiODubNf-kqas2MKJu1IcqUg3IN5YnpEnoPXE-vTnvD"#}
{#                             width="100%">#}
{#                        Click <a href="#"> here</a> to update new exercise#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-sm-9 ">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a><span class="divider"></span></li>
                    <li class="active">{{ tag_name }}</li>
                </ul>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6"><span>Number of exercise: {{ exercise_number }}</span></div>
                            <div class="col-sm-6">
                                <div class="form-group pull-right">
                                    <select class="selectpicker form-control" id="compare_elearning"
                                            data-length-exercise="{{ exercise_number }}">
                                        <option value="compare">---- Sort ----</option>
                                        <option value="view">View</option>
                                        <option value="date">Date created</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% for exercise in exercise_list %}
                            {% if forloop.counter <= 5 %}
                                <div class="row exercise_list_elearning">
                                    <div class="col-sm-12">
                                        <h4 class="exercise_name"><span class="glyphicon glyphicon-education" style="color: #337ab7" aria-hidden="true"></span>
                                            {{ exercise.name }}</h4>
                                        <hr class="soft"/>
                                        <p class="exercise_description">
                                            {{ exercise.description }}
                                        </p>
                                        <div class="row list_ex_expert">
                                            <div class="col-sm-10">
                                                <ul class="nav nav-pills pull-left info_exercise" role="tablist" >
                                                    <li role="presentation"><a  style="cursor: default"><span
                                                            class="glyphicon glyphicon-user"
                                                            aria-hidden="true"></span><span
                                                            class="exercise_contributor">
                                                    {{ exercise.contributor }}</span>
                                                    </a>
                                                    </li>
                                                    <li role="presentation" ><a  style="cursor: default">Date created <span
                                                            class="badge"><span
                                                            class="exercise_date"> {{ exercise.date_created }}</span></span></a>
                                                    </li>
                                                    <li role="presentation"><a  style="cursor: default">View <span
                                                            class="badge"><span
                                                            class="exercise_view"> {{ exercise.view }}</span> </span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-2">
                                                <a class="btn btn-primary pull-right" href="product_details.html">View
                                                    Details</a>
                                            </div>
                                        </div>
                                        <br class="clr"/>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div id="page-selection" data-value="1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}