{% extends 'base1.html' %}
{% load static %}
{% block title %} HOME PAGE {% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div id="sidebar" class="span3">
                <ul id="sideManu" class="nav nav-tabs nav-stacked">
                    <li class="subMenu open"><a> CATEGORY</a>
                        <ul>
                            <li><a class="active" href="products.html"><i class="icon-chevron-right"></i>Lập trình hướng
                                đối tượng
                            </a></li>
                            <li><a href="products.html"><i class="icon-chevron-right"></i>Kỹ thuật lập trình</a></li>
                            <li><a href="products.html"><i class="icon-chevron-right"></i>Tin học đại cương</a></li>
                            <li><a href="products.html"><i class="icon-chevron-right"></i>Java</a></li>
                        </ul>
                    </li>
                    {#                    <li class="subMenu"><a> CLOTHES [840] </a>#}
                    {#                        <ul style="display:none">#}
                    {#                            <li><a href="products.html"><i class="icon-chevron-right"></i>Women's Clothing (45)</a></li>#}
                    {#                            <li><a href="products.html"><i class="icon-chevron-right"></i>Women's Shoes (8)</a></li>#}
                    {#                            <li><a href="products.html"><i class="icon-chevron-right"></i>Women's Hand Bags (5)</a></li>#}
                    {#                            <li><a href="products.html"><i class="icon-chevron-right"></i>Men's Clothings (45)</a></li>#}
                    {#                            <li><a href="products.html"><i class="icon-chevron-right"></i>Men's Shoes (6)</a></li>#}
                    {#                            <li><a href="products.html"><i class="icon-chevron-right"></i>Kids Clothing (5)</a></li>#}
                    {#                            <li><a href="products.html"><i class="icon-chevron-right"></i>Kids Shoes (3)</a></li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    {#                    <li><a href="products.html">HEALTH & BEAUTY [18]</a></li>#}
                    {#                    <li><a href="products.html">SPORTS & LEISURE [58]</a></li>#}
                    {#                    <li><a href="products.html">BOOKS & ENTERTAINMENTS [14]</a></li>#}
                </ul>
            </div>
            <!-- Sidebar end=============================================== -->
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a><span class="divider">/</span></li>
                    <li class="active">Lập trình hướng đối tượng</li>
                </ul>
                <h3> Exercise
                    <small class="pull-right"> 100 exercise are available</small>
                </h3>
                <hr class="soft"/>

                <br class="clr"/>
                <div class="list_exercise_content">
                    <div class="row">
                        <div class="span8">
                            <h4>Exercise 1</h4>
                            <hr class="soft"/>
                            <p>
                                Nowadays the lingerie industry is one of the most successful...
                            </p>
                            <div class="row">
                                <div class="span4">
                                    <ul class="nav nav-pills pull-left" role="tablist">
                                        <li role="presentation"><a href="#">View <span class="badge">3</span></a>
                                        </li>
                                        <li role="presentation"><a href="#">Passed <span class="badge">3</span></a>
                                        </li>
                                        <li role="presentation"><a href="#">Message <span class="badge">3</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                </div>
                            </div>
                            <br class="clr"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span8">
                            <h4>Exercise 2</h4>
                            <hr class="soft"/>
                            <p>
                                Nowadays the lingerie industry is one of the most successful...
                            </p>
                            <div class="row">
                                <div class="span4">
                                    <ul class="nav nav-pills pull-left" role="tablist">
                                        <li role="presentation"><a href="#">View <span class="badge">3</span></a>
                                        </li>
                                        <li role="presentation"><a href="#">Passed <span class="badge">3</span></a>
                                        </li>
                                        <li role="presentation"><a href="#">Message <span class="badge">3</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                </div>
                            </div>
                            <br class="clr"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span8">
                            <h4>Exercise 3</h4>
                            <hr class="soft"/>
                            <p>
                                Nowadays the lingerie industry is one of the most successful...
                            </p>
                            <div class="row">
                                <div class="span4">
                                    <ul class="nav nav-pills pull-left" role="tablist">
                                        <li role="presentation"><a href="#">View <span class="badge">3</span></a>
                                        </li>
                                        <li role="presentation"><a href="#">Passed <span class="badge">3</span></a>
                                        </li>
                                        <li role="presentation"><a href="#">Message <span class="badge">3</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                </div>
                            </div>
                            <br class="clr"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span8">
                            <h4>Exercise 4</h4>
                            <hr class="soft"/>
                            <p>
                                Nowadays the lingerie industry is one of the most successful...
                            </p>
                            <div class="row">
                                <div class="span4">
                                    <ul class="nav nav-pills pull-left" role="tablist">
                                        <li role="presentation"><a href="#">View <span class="badge">3</span></a>
                                        </li>
                                        <li role="presentation"><a href="#">Passed <span class="badge">3</span></a>
                                        </li>
                                        <li role="presentation"><a href="#">Message <span class="badge">3</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                </div>
                            </div>
                            <br class="clr"/>
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    <ul>
                        <li><a href="#">&lsaquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">&rsaquo;</a></li>
                    </ul>
                </div>
                <br class="clr"/>
            </div>
        </div>

    </div>
    </div>
{% endblock %}