{% extends 'base.html' %}
{% load static %}

{% block style_sheet %}
    <link href="{% static 'elearning_system/user/css/login.css' %}" type="text/css" rel="stylesheet" media="all"/>
    <link href="{% static 'elearning_system/exercise/css/code_editor.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
{% endblock %}

{% block main %}
    <div class="top_padding_elearning"></div>
    <div class="alert alert-dismissable" style="display: none;" id="popup-message">
        <a href="#" class="close" id="popup-message-close" aria-label="close">×</a>
        <span id="popup-message-body"></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <img class="profile-img"
                         src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                         alt="">
                    <form class="form-signin" method="post">
                        {% csrf_token %}
                        {% if result == 'error' %}
                            <span style="color: red;padding-bottom: 5px">{{ message }}</span>
                        {% endif %}
                        <div style="padding-bottom: 10px">
                            <input type="text" name="user_name" class="form-control" placeholder="username" required
                                   autofocus>
                        </div>
                        <div>
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Log in
                        </button>
                        <label class="checkbox pull-left">
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>
                        <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                    </form>
                </div>
                <a href="registry" class="text-center new-account">Create an account </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

    <script src="{% static 'elearning_system/user/js/contact.js' %}"></script>
    <script>
        var show_message = function (type, content) {
            var popup_message = $("#popup-message");
            if (type == 'success') {
                popup_message.addClass('alert-success')
            } else if (type == 'error') {
                popup_message.addClass('alert-danger')

            } else if (type == 'warning') {
                popup_message.addClass('alert-warning')
            }
            $("#popup-message-body").html(content);
            popup_message.fadeIn();
        };
        var redirect_message = "{{ redirect_message }}";
        if (redirect_message.length > 0) {
            show_message('error', redirect_message);
        }

        var alert_message = function (type, content) {
            var popup_message = $("#popup-message");
            if (type == 'success') {
                popup_message.addClass('alert-success')
            } else if (type == 'error') {
                popup_message.addClass('alert-danger')
            }
            $("#error-message-body").html(content);
            popup_message.fadeIn();
            setTimeout(function () {
                popup_message.fadeOut();
                if (type == 'success') {
                    popup_message.removeClass('alert-success');
                } else if (type == 'error') {
                    popup_message.removeClass('alert-danger');
                    $("#error-message-body").html();
                }

            }, 3000);
        };

    </script>
{% endblock %}
