/*@media (min-width: 1200px) {*/
  /*.container {*/
    /*width: 1220px;*/
  /*}*/
/*}*/
.container {
    padding-top: 30px;

}

.pre-scrollable {
    max-height: 200px;
    padding-right: 5px;

}

.exercise-detail {

}
#exercise-test-case-body{
    max-height:70px;
}
#exercise-instruction-body{
    max-height: 100px;
}
#code-editor-footer {
    padding-top: 15px;
}

textarea {
   resize: none;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}