@media (min-width: 1200px) {
    .container {
        width: 1250px;
    }

    .exercise-detail-action {
        max-width: 350px;
    }
}

.container {
    padding-top: 60px;

}

#exercise-content {
    height: 180px;
}

.pre-scrollable {
    padding-right: 5px;
}


.exercise-detail {

}

#exercise-test-case-body {
    max-height: 120px;
}

#exercise-instruction-body {
    max-height: 100px;
}

#code-editor-footer {
    padding-top: 5px;
    overflow: hidden;
    position: relative;

}

textarea {
    resize: none;
}

.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

#code-file-input-form input {
    max-width: 120px;
}

#test-code-instruction-body {
    height: 200px;
}

#test-code-test-case-body {
    max-height: 100px;
}

#popup-message {
    position: fixed;
    top: 60px;
    right: 40px;
    z-index: 50;
    text-align: justify;
    min-width: 250px;
    max-width: 400px;
}

.CodeMirror {
    margin-top: 2px;
    color: #1a2226;
    border: 1px solid #999;
    min-height: 300px;
}

.form-group {
    margin-bottom: 2px;
}

#submit-result-info {
    min-height: 30px;
}

.test-case-img {
    height: 32px;
    padding-right: 5px;
}

.tooltip.top .tooltip-inner {

    max-width: 310px;

    padding: 3px 8px;

    color: #fff;

    text-align: center;

    background-color: #245973;

    border-radius: 5px

}

/*#test-code-view-body{*/
/*position: absolute;*/
/*}*/