{% extends 'base.html' %}
{% load static %}
{% block title %} HOME PAGE {% endblock %}
{% block style_sheet %}
    <link href="{% static 'elearning_system/exercise/css/bootstrap.css' %}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html"/>
    <link href="{% static 'elearning_system/exercise/css/jquery.numberedtextarea.css' %}" rel="stylesheet"
          type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/exercise/code_mirror/lib/codemirror.css' %}" rel="stylesheet"
          type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/exercise/code_mirror/addon/lint/lint.css' %}" rel="stylesheet"
          type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/exercise/css/code_editor.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
{% endblock %}
{% block main %}
    <div class="alert alert-dismissable" style="display: none;" id="popup-message">
        <a href="#" class="close" id="popup-message-close" aria-label="close">×</a>
        <span id="popup-message-body"></span>
    </div>
    <div class="container">
        <div class="col-md-5 excercise-section text-justify">
            <h4 id="exercise-title" class="text-info">{{ exercise_detail.name }}</h4>
            <div class="exercise-description">
                <div id="exercise-description">
                    {{ exercise_detail.description }}
                </div>
            </div>
            <h4 class="text-info"><strong>Content</strong></h4>
            <div class="exercise-content pre-scrollable">
                <div id="exercise-content">
                    {{ exercise_detail.content|linebreaksbr }}
                </div>
            </div>
            <div id="exercise-test-case">
                <h4 id="exercise-test-case-header" class="text-danger">
                    <strong>Test case example</strong>
                </h4>
                <div id="exercise-test-case-body">
                    {% for test_case in exercise_detail.test_case_list %}
                        <p>
                            {{ test_case }}
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div id="exercise-more-info">
                <p>
                    <span class="text-success"><strong>Contributor:</strong></span>
                    {{ exercise_detail.contributor.full_name }}
                </p>
                <p>
                    <span class="text-primary"><strong>View number:</strong></span>
                    {{ exercise_detail.view_number }}
                </p>
                <p>
                    <span class="text-danger"><strong>Solve number:</strong></span>
                    {{ exercise_detail.solve_number }}
                </p>
            </div>
        </div>
        <div class="col-md-7 right-content">
            <div class="code-editor-field">
                <div id="code-editor-header" class="row">
                    <div class="col-md-2 form-group form-inline" style="padding-left: 0;padding-right: 5px;">
                        <h5>
                            <label for="code-editor" class="text-primary">
                                Input code
                            </label>
                        </h5>
                    </div>
                    <div class="col-md-2 form-group form-inline" style="padding-left: 0;padding-right: 5px;">
                        <button class="btn btn-danger" id="code-instruction">
                            Instruction
                        </button>
                    </div>
                    <div class="col-md-8 pull-right exercise-detail-action">
                        {% for role in role_list %}
                            {% if role == 'moderator' %}
                                <button type="button" class="btn btn-success" id="edit-exercise-btn"
                                        data-exercise-detail-url={% url 'data_exercise_detail' exercise_id=exercise_detail.exercise_id %}>
                                    <span class="glyphicon glyphicon-pencil"></span> Edit...
                                </button>
                                <button type="button" class="btn btn-danger" id="delete-exercise-btn">
                                    <span class="glyphicon glyphicon-remove"></span> Delete...
                                </button>
                            {% endif %}

                        {% endfor %}
                        <button type="button" class="btn btn-warning pull-right" id="report-exercise-error-btn">
                            <span class="glyphicon glyphicon-alert"></span> Report Error...
                        </button>
                    </div>
                </div>
            </div>
            <div id="code-editor-body" class="row">
                <input type="hidden" id="exercise-id" value="{{ exercise_detail.exercise_id }}">
                <textarea cols="60" rows="25" class="form-control" spellcheck="false" id="code-editor"></textarea>
            </div>


            <div id="code-editor-footer" class="row">
                <div class="col-md-9" style="padding-left: 0;padding-right: 5px;">
                    <div class="form-group row">
                        <h5 class="col-xs-3" style=" padding-left: 0;padding-right: 5px;text-align:right">
                            <label for="code-file-input" class="text-primary">
                                Upload code
                            </label>
                        </h5>
                        <div class="col-xs-7">
                            <input type="file" class="filestyle"
                                   accept=".txt, .py,.cpp,.java,.js,.p"
                                   data-buttonText="Upload..." id="code-file-input">

                        </div>
                    </div>

                    <div class="form-group row">
                        <h5 class="col-xs-3" style="padding-left: 0;padding-right: 5px;text-align:right">
                            <label for="code-language" class="text-primary">
                                Language
                            </label>
                        </h5>
                        <div class="col-xs-7">
                            <select class="form-control" id="code-language">
                                <option selected value="text/x-java">Java</option>
                                <option value="text/x-python">Python2</option>
                                <option value="text/x-c++src">C++</option>
                                <option value="text/x-pascal">Pascal</option>
                                <option value="text/javascript">Javascript</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-group col-md-3 select-language-input form-inline pull-right"
                     style="height:80px;padding-left: 5px; padding-right: 5px;">
                    <button type="button" id="btn-solve-exercise-submit"
                            data-submit-url="{% url "solve_exercise" %}"
                            class="btn btn-primary pull-right"
                            style="height:60%;width:80%; margin-top: 15px;">
                        <span class="glyphicon glyphicon-arrow-right"></span> Submit
                    </button>
                </div>
            </div>

            <div class="row" id="submit-result-info"
                 data-test-case-image-fail="{% static 'elearning_system/exercise/images/test_case_fail.png' %}"
                 data-test-case-image-pass="{% static 'elearning_system/exercise/images/test_case_pass.png' %}">
            </div>
            <div class="row" id='output-result' style="display: none">
                <h3 class="text-primary">
                    Output
                </h3>
                <textarea id="error-result" rows="10" readonly style="width: 100%">

                </textarea>
                <div id="execute-output-result"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-report-exercise-error" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title text-warning" id="error-exercise-header">
                        <span class="glyphicon glyphicon-alert"></span> Report Error Exercise
                    </h3>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="error-exercise-id">Error Exercise ID:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" readonly
                                       id="error-exercise-id"/>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="error-message-title">Title:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       id="error-message-title"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="error-message-content">Message:</label>
                            <div class="col-sm-8">
                                <textarea id="error-message-content" class="text" style="min-width: 100%" rows="15"
                                          name="error-message-content"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="send-exercise-report-btn"
                            data-send-exercise-report-url={% url 'report_exercise_error' %}>
                        Send Report
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="modal-edit-exercise" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title text-success" id="error-exercise-header">
                        <span class="glyphicon glyphicon-arrow-right"></span> Edit Exercise
                    </h3>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="edit-exercise-id">Exercise ID:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" readonly
                                       id="edit-exercise-id"/>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for='edit-exercise-name'>Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       id="edit-exercise-name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="edit-exercise-description">Description:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       id="edit-exercise-description"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="edit-exercise-content">Content:</label>
                            <div class="col-sm-8">
                                <textarea id="edit-exercise-content" class="text" style="min-width: 100%" rows="15"
                                          name="edit-exercise-content"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="send-exercise-edit-btn"
                            data-edit-exercise-url={% url 'edit_exercise' %}>
                        Edit Exercise
                    </button>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal delete exercise -->
    <div class="modal fade" id="modal-delete-exercise" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title text-danger" id="error-exercise-header">
                        <span class="glyphicon glyphicon-alert"></span> Delete Exercise
                    </h3>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="form-group">
                        Are you really want to delete this exercise?
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer" >
                    <a type="button" class="btn btn-danger" href="" id="action-delete-exercise-btn">
                        Delete
                    </a>
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>




    <!--  Instruction Modal -->
    <div class="modal fade" id="modal-view-instruction" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title text-primary" id="view-file-modal-header">
                        Write Source Code Instruction
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <h3 class="text-danger">Step by step Instruction</h3>

                    To write source code for testing, you must follow this instruction.<br/><br/>
                    First, determine number of parameter in your test case.<br/>
                    Example:
                    <textarea cols="60" rows="3" class="form-control text-info" spellcheck="false">
                        |1;2;4;8 : 12|
                    </textarea>
                    <p>
                        This mean you have four parameters : x1 = 1; x2 = 2; x3 = 4; x4 = 8. And result is 12<br/>
                        Then, you will write your program into text field. Your program must be follow syntax definec by
                        language. Example, with java, your excute code must be in <strong>main</strong> method:
                    </p>
                    <textarea cols="60" rows="6" class="form-control text-info " spellcheck="false"
                              id="example-main-method">public class Example {
    public static void main(String[] args) {
                        //excute code is placed in here...
    }
}
                    </textarea>
                    Next, in your source code, you must convert these parameter to variable in your program.You will
                    need some libary for some language to convert it. Example with java:
                    <textarea cols="60" rows="5" class="form-control text-info" spellcheck="false"
                              id="example-main-method">import java.util.Scanner;
                        ....
int a = in.nextInt();
                    </textarea>
                    Finnaly, you need print result by print method defined in language. Example with java:
                    <textarea cols="60" rows="5" class="form-control text-info" spellcheck="false"
                              id="example-main-method">System.out.println(//your result);
                    </textarea>
                    Next is some example.


                    <h3 class="text-info">Example with language</h3>
                    The test case is:
                    <textarea cols="60" rows="3" class="form-control" spellcheck="false">
                        |1;2;4;8 : 64|
                    </textarea>
                    Solution with java:
                    <textarea cols="60" rows="20" class="form-control" id="example-main-java" spellcheck="false">import java.util.Scanner;
public class ExampleJava {

    public static void main(String[] args) {
        Scanner in = new Scanner(System.in);
        int a = in.nextInt();
        int b = in.nextInt();
        int c = in.nextInt();
        int d = in.nextInt();
        System.out.println((a * b * c * d));
    }
}
                    </textarea>
                    Solution with python:
                    <textarea cols="60" rows="10" class="form-control" id="example-main-python" spellcheck="false">import sys
x = sys.stdin.readline()
y = sys.stdin.realdline()
z = sys.stdin.realdline()
t = sys.stdin.realdline()
print(int(x)*int(y)*int(z)*int(t))
                    </textarea>
                    Solution with C++:
                    <textarea cols="60" rows="10" class="form-control" id="example-main-c-plus-plus" spellcheck="false">#include "iostream"
int main(void)
{
    int x,y,z,t;
    std::cin >> x;
    std::cin >> y;
    std::cin >> z;
    std::cin >> z;
    std::cout << x*y*z*t;
    return 0;
}
                    </textarea>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-close-file-view">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/exercise/js/bootstrap-filestyle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'elearning_system/exercise/code_mirror/theme/eclipse.css' %}">
    <link rel="stylesheet" href="{% static 'elearning_system/exercise/code_mirror/theme/ambiance.css' %}">
    <script src="{% static 'elearning_system/exercise/code_mirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/edit/matchbrackets.js' %}"></script>
    <link rel="stylesheet" href="{% static 'elearning_system/exercise/code_mirror/addon/hint/show-hint.css' %}">
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/hint/anyword-hint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/hint/show-hint.js' %}"></script>
    {#code mirror mode#}
    <script src="{% static 'elearning_system/exercise/code_mirror/mode/javascript/javascript.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/mode/python/python.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/mode/clike/clike.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/mode/pascal/pascal.js' %}"></script>


    <script src="{% static 'elearning_system/exercise/code_mirror/jshint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/lint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/javascript-lint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/json-lint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/css-lint.js' %}"></script>

    <script>
        $("#error-exercise-id").attr('value', {{ exercise_detail.exercise_id  }});
        var editor = CodeMirror.fromTextArea(document.getElementById("code-editor"), {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-java",
            indentUnit: 4
        });
        editor.setOption("theme", 'eclipse');
        var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
        CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl") + "-Space"] = "autocomplete";

        // For instruction
        var java_editor = CodeMirror.fromTextArea(document.getElementById("example-main-java"), {
            lineNumbers: true,
            mode: "text/x-java",
            indentUnit: 4
        });
        java_editor.setOption("theme", 'eclipse');

        var python_editor = CodeMirror.fromTextArea(document.getElementById("example-main-python"), {
            lineNumbers: true,
            mode: "text/x-python",
            indentUnit: 4
        });
        python_editor.setOption("theme", 'eclipse');

        var c_editor = CodeMirror.fromTextArea(document.getElementById("example-main-c-plus-plus"), {
            lineNumbers: true,
            mode: "text/x-c++src",
            indentUnit: 4
        });
        c_editor.setOption("theme", 'eclipse');

        //end instruction

        $("#btn-clear-source-code").click(function () {
            $("#code-file-input").filestyle('clear');

        });


        var show_message = function (type, content) {
            var popup_message = $("#popup-message");
            if (type == 'success') {
                popup_message.addClass('alert-success')
            } else if (type == 'error') {
                popup_message.addClass('alert-danger')
            }
            $("#popup-message-body").html(content);
            popup_message.fadeIn();
        };


        var alert_message = function (type, content) {
            var popup_message = $("#popup-message");
            if (type == 'success') {
                popup_message.addClass('alert-success')
            } else if (type == 'error') {
                popup_message.addClass('alert-danger')
            }
            $("#popup-message-body").html(content);
            popup_message.fadeIn();
            setTimeout(function () {
                popup_message.fadeOut();
                if (type == 'success') {
                    popup_message.removeClass('alert-success');
                } else if (type == 'error') {
                    popup_message.removeClass('alert-danger');
                    $("#popup-message-body").html();
                }

            }, 5000);
        };

        var disable_editor = function () {
            $("#code-file-input").filestyle('disabled', true);
            $('#btn-solve-exercise-submit').prop("disabled", true);
            $("#code-language").prop('disabled', true);
            editor.setOption("readOnly", true);
        };
        var enable_editor = function () {
            $("#code-file-input").filestyle('disabled', false);
            $('#btn-solve-exercise-submit').prop("disabled", false);
            $("#code-language").prop('disabled', false);
            editor.setOption("readOnly", false);
        };

        $('#popup-message-close').click(function () {
            $("#popup-message").fadeOut();
        });


        $("#code-language").on('change', function () {
            var current_language = $("#code-language").val();
            editor.setOption("mode", current_language);
        });


        $('#btn-solve-exercise-submit').click(function () {
            var submit_info_element = $("#submit-result-info");
            submit_info_element.empty();
            var output_result = $("#output-result");
            output_result.hide();
            disable_editor();
            var submit_info_wait_result = $('<h4></h4>');
            submit_info_wait_result.hide();
            submit_info_wait_result
                    .addClass('text-primary')
                    .html('<strong>Please wait</strong>' +
                            '<span class="glyphicon glyphicon-arrow-right"></span>' +
                            '<span class="glyphicon glyphicon-arrow-right"></span>' +
                            '<span class="glyphicon glyphicon-arrow-right"></span>' +
                            '<span class="glyphicon glyphicon-arrow-right"></span>')
                    .appendTo(submit_info_element)
                    .fadeIn();

            $.when(read_file_input('#code-file-input')).done(
                    function (code_file_data) {
                        var source_code_data = editor.getValue();
                        if (code_file_data == 'invalid-type') {
                            var error_message = '';
                            if (code_file_data == 'invalid-type') {
                                error_message += 'please upload valid source code file <br/>';
                            }
                            alert_message('error', error_message);

                        } else if (source_code_data.length == 0) {
                            alert_message('error', 'Code editor field must not empty!');
                        }
                        else {
                            var exercise_id = $("#exercise-id").val();
                            var code_language_meta = $("#code-language").val();
                            var language_list = {};
                            language_list['text/x-pascal'] = 'pascal';
                            language_list['text/x-java'] = 'java';
                            language_list['text/x-c++src'] = 'cpp';
                            language_list['text/x-python'] = 'python';
                            language_list['text/javascript'] = 'js';
                            var code_language = language_list[code_language_meta];

                            //send data to server
                            var submit_url = $("#btn-solve-exercise-submit").data('submit-url');
                            console.log(submit_url);
                            $.post(submit_url,
                                    {
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                        language: code_language,
                                        source_code: source_code_data,
                                        exercise_id: exercise_id
                                    },
                                    function (data, status) {
                                        console.log(status);
                                        var submit_info_element = $("#submit-result-info");
                                        submit_info_wait_result = submit_info_element.find('h4');
                                        submit_info_wait_result.fadeOut('slow');
                                        setTimeout(function () {
                                            if (status == 'success') {
                                                console.log(data)
                                                if (data.status == 'success') {
                                                    if (data.is_solved == 'true') {
                                                        alert_message('success', "Congratulations! You solved this exercise!");
                                                    } else {
                                                        alert_message('error', data.message);
                                                    }
                                                    //show test case list
                                                    var test_code_result = $(
                                                            '<div>' +
                                                            '<h4 class="text-primary">' +
                                                            '<strong>Solve exercise result:</strong>' +
                                                            '</h4>' +
                                                            '</div>');
                                                    var fail_img_src = submit_info_element.data('test-case-image-fail');
                                                    var pass_img_src = submit_info_element.data('test-case-image-pass');
                                                    for (var i = 0; i < data.test_case_list.length; i++) {
                                                        var test_case = $('<img></img>');
                                                        var test_case_result = '';
                                                        test_case.attr('data-index', i + 1);
                                                        test_case.attr('class', 'test-case-img');
                                                        test_case_status = data.test_case_list[i];
                                                        if (test_case_status == 'p') {
                                                            test_case.attr('src', pass_img_src);
                                                            test_case_result = 'passed';
                                                        } else if (test_case_status == 'f') {
                                                            test_case.attr('src', fail_img_src);
                                                            test_case_result = 'failed';
                                                        }
                                                        var test_case_info = 'Test case ' + (i + 1).toString() + ': ' +
                                                                test_case_result;
                                                        test_case.tooltip({title: test_case_info, placement: "top"});
                                                        test_case.appendTo(test_code_result);
                                                    }
                                                    test_code_result.hide();
                                                    test_code_result
                                                            .appendTo(submit_info_element)
                                                            .fadeIn();
                                                    //show test case list
                                                } else if (data.status == 'failed') {
                                                    alert_message('error', data.message);
                                                    test_code_result = $(
                                                            '<div>' +
                                                            '<h4 class="text-danger">' +
                                                            '<strong>Test code result: Error</strong>' +
                                                            '</h4>' +
                                                            '</div>');
                                                    test_code_result.hide();
                                                    test_code_result
                                                            .appendTo(submit_info_element)
                                                            .fadeIn();
                                                    $('#error-result').val(data.output_message);
                                                    output_result.fadeIn();
                                                }
                                            } else {
                                                alert_message('error', "solve exercise process failed!");
                                            }
                                        }, 1500);
                                        setTimeout(function () {
                                            enable_editor();
                                        }, 4500);
                                    }
                            ).fail(function (xhr, status, error) {
                                alert_message('error', "Failed to Connect to the server. Please try again later.");
                                submit_info_wait_result = submit_info_element.find('h4');
                                submit_info_wait_result.fadeOut('slow');
                                submit_info_element.empty();
                                setTimeout(function () {
                                    enable_editor();
                                }, 2000);
                            });
                        }
                    }
            );
        });

        function read_file_input(input_element) {
            var reader = new FileReader();
            var filePath = $(input_element)[0];
            var deferred = $.Deferred();
            if (filePath.files && filePath.files[0]) {
                var sFileName = filePath.value;
                var blnValid = false;
                var _validFileExtensions = [".txt", ".py", ".cpp", ".java", ".js"];
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase()
                            == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
                if (!blnValid) {
                    deferred.resolve('invalid-type');
                } else {
                    reader.onload = function (e) {
                        deferred.resolve(e.target.result);
                    };
                    reader.readAsText(filePath.files[0]);
                }
            } else {
                deferred.resolve('none-file-selected');
            }
            return deferred.promise();
        }
    </script>

    <script>

        $('#report-exercise-error-btn').click(function () {
            var exercise_id = $("#exercise-id").val();
            console.log(exercise_id);
            $("#error-exercise-id").val(exercise_id);
            var modal_select_element = $("#modal-report-exercise-error");
            modal_select_element.modal();
        });

        $('#edit-exercise-btn').click(function () {
            var exercise_detail_url = $(this).data('exercise-detail-url');
            $.get(exercise_detail_url, function (data, status) {
                        if (data.status == 'success') {
                            var exercise_id = $("#exercise-id").val();
                            $("#edit-exercise-name").val(data.exercise_detail.name);
                            $("#edit-exercise-description").val(data.exercise_detail.description);
                            $("#edit-exercise-content").val(data.exercise_detail.content);
                            $("#edit-exercise-id").val(exercise_id);
                            var modal_select_element = $("#modal-edit-exercise");
                            modal_select_element.modal();
                        } else {
                            alert_message(
                                    'error',
                                    "Failed to retrieve exercise information from server. Try again later!"
                            );
                        }
                    }
            ).fail(function () {
                alert_message('error', "Failed to connect to server. Try again later!");

            });
        });

        $("#send-exercise-report-btn").click(function () {
            var exercise_id = $('#error-exercise-id').val();
            var message_title = $("#error-message-title").val();
            var message_content = $("#error-message-content").val();

            var modal_select_element = $("#modal-report-exercise-error");
            modal_select_element.modal('toggle');
            $.post($("#send-exercise-report-btn").data('send-exercise-report-url'),
                    {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        exercise_id: exercise_id,
                        message_title: message_title,
                        message_content: message_content
                    },
                    function (data, status) {
                        setTimeout(function () {
                            if (status == 'success') {
                                if (data.status == 'success') {
                                    alert_message('success', "Report message was sent!");
                                    //show test case list
                                } else if (data.status == 'failed') {
                                    alert_message('error', 'fail to send report message');
                                }
                            } else {
                                alert_message('success', "Fail to send report message!");
                            }
                        }, 500);
                    });
        });

        $('#send-exercise-edit-btn').click(function () {
            var exercise_id = $("#exercise-id").val();
            var name = $("#edit-exercise-name").val();
            var description = $("#edit-exercise-description").val();
            var content = $("#edit-exercise-content").val();
            var modal_edit_exercise = $("#modal-edit-exercise");
            modal_edit_exercise.modal('toggle');
            $.post($("#send-exercise-edit-btn").data('edit-exercise-url'),
                    {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        exercise_id: exercise_id,
                        name: name,
                        description: description,
                        content: content
                    },
                    function (data, status) {
                        setTimeout(function () {
                            if (status == 'success') {
                                if (data.status == 'success') {
                                    alert_message('success', "Edit exercise success!");
                                    //show test case list
                                } else if (data.status == 'failed') {
                                    alert_message('error', 'failed to edit this exercise, try again later');
                                }
                            } else {
                                alert_message('success', "Fail to connect to server!");
                            }
                        }, 500);
                    });

        });

        $("#code-file-input").change(function () {
            $.when(read_file_input('#code-file-input')).done(
                    function (code_file_data) {
                        if (code_file_data == 'invalid-type') {
                            var error_message = '';
                            if (code_file_data == 'invalid-type') {
                                error_message += 'This file type is not supported. <br/> Please upload valid file';
                            }
                            alert_message('error', error_message);
                            $("#code-file-input").filestyle('clear');


                        } else {
                            editor.setValue(code_file_data);
                            setTimeout(function () {
                                editor.refresh();
                            }, 500);
                        }
                    }
            )
        });


        $("#code-instruction").click(function () {
            var modal_view_file_content = $("#modal-view-instruction");
            setTimeout(function () {
                c_editor.refresh();
                python_editor.refresh();
                java_editor.refresh();
            }, 1000);
            modal_view_file_content.modal();
        });

        $('#delete-exercise-btn').click(function () {
             var modal_select_element = $("#modal-delete-exercise");
             modal_select_element.modal();
             var exercise_id = $("#exercise-id").val();
             $('#action-delete-exercise-btn').attr('href','/moderator/delete_exercise_status?exercise_id='+exercise_id);
         });



    </script>

{% endblock %}