{% extends 'base1.html' %}
{% load static %}
{% block title %} HOME PAGE {% endblock %}
{% block style_sheet %}
    <link href="{% static 'elearning_system/base/css/code_editor.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'elearning_system/base/css/jquery.numberedtextarea.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/base/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'elearning_system/base/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'elearning_system/base/js/jquery.numberedtextarea.js' %}"></script>
    <script type="text/javascript" src="{% static 'elearning_system/base/js/bootstrap-filestyle.js' %}"></script>

{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="span4 excercise-section text-justify">
                <h4 id="exercise-title" class="text-info">Tìm số nhỏ nhất trong 4 số nguyên</h4>
                <div class="exercise-detail pre-scrollable">
                    <div id="exercise-content">
                        We can also divide one number by another.
                        JavaScript uses the / symbol for division.
                        You are given two linked lists representing two non-negative numbers.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.
                        We can also divide one number by another.
                        JavaScript uses the / symbol for division.
                        You are given two linked lists representing two non-negative numbers.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.
                        We can also divide one number by another.
                        JavaScript uses the / symbol for division.
                        You are given two linked lists representing two non-negative numbers.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.
                        We can also divide one number by another.
                        JavaScript uses the / symbol for division.
                        You are given two linked lists representing two non-negative numbers.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.
                        We can also divide one number by another.
                        JavaScript uses the / symbol for division.
                        You are given two linked lists representing two non-negative numbers.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.
                        We can also divide one number by another.
                        JavaScript uses the / symbol for division.
                        You are given two linked lists representing two non-negative numbers.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.
                        We can also divide one number by another.
                        JavaScript uses the / symbol for division.
                        You are given two linked lists representing two non-negative numbers.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.

                    </div>
                </div>
                <div id="exercise-instruction">
                    <h4 id="exercise-instruction-header" class="text-danger">
                        Gợi ý
                    </h4>
                    <div id="exercise-instruction-body" class="pre-scrollable">
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.The digits are stored in reverse order and
                        each
                        of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.
                        The digits are stored in reverse order and each of their nodes contain a single digit.
                        Add the two numbers and return it as a linked list.


                    </div>
                </div>

                <div id="exercise-test-case">
                    <h4 id="exercise-test-case-header" class="text-danger">
                        Test case example
                    </h4>
                    <div id="exercise-test-case-body" class="pre-scrollable">
                        <p>
                            x1=2;x2=4;x3=6;x4=8 => y=12
                        </p>
                        <p>
                            x1=2;x2=4;x3=6;x4=8 => y=12
                        </p>
                        <p>
                            x1=2;x2=4;x3=6;x4=8 => y=12
                        </p>
                        <p>
                            x1=2;x2=4;x3=6;x4=8 => y=12
                        </p>

                        <p>
                            x1=2;x2=4;x3=6;x4=8 => y=12
                        </p>

                        <p>
                            x1=2;x2=4;x3=6;x4=8 => y=12
                        </p>
                    </div>
                </div>
            </div>
            <div class="span8 code-editor-field">
                <div id="code-editor-header" class="row">
                    <div class="span4">
                        <h4 class="text-danger">
                            Giải bài tập
                        </h4>
                    </div>
                    <div class="span4">
                        <button type="button" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-arrow-right"></span> Report Exercise Error...
                        </button>
                    </div>
                </div>
                <div id="code-editor-body" >
                <textarea cols="100" rows="20" class="form-control" spellcheck="false" id="code-editor"
                          style="color: #1b6d85"></textarea>
                    <script>
                        $('textarea').numberedtextarea();
                    </script>
                </div>
                <div id="code-editor-footer" class="row">
                    <div class="form-group span5">
                        <input type="file" class="filestyle" data-buttonText="Upload code file" id="code-file-input">
                    </div>
                    <div class="form-group span2 select-language-input form-inline">
                        <label for="code-language">Language:</label>
                        <select class="form-control" id="code-language">
                            <option>C#</option>
                            <option>Java</option>
                            <option>C++</option>
                            <option>Python</option>
                        </select>
                    </div>
                    <div class="form-group span1 form-inline">
                        <button type="button" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-arrow-right"></span> Submit
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}