{% extends 'code_editor_base.html' %}
{% load static %}
{% block title %} HOME PAGE {% endblock %}
{% block style_sheet %}
    <link href="{% static 'elearning_system/base/css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'elearning_system/base/css/code_editor.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'elearning_system/base/css/jquery.numberedtextarea.css' %}" rel="stylesheet" type="text/css"
          media="all"/>


    <link href="{% static 'elearning_system/exercise/code_mirror/lib/codemirror.css' %}" rel="stylesheet"
          type="text/css"
          media="all"/>
    <link href="{% static 'elearning_system/exercise/code_mirror/addon/lint/lint.css' %}" rel="stylesheet"
          type="text/css"
          media="all"/>
{% endblock %}
{% block main %}
    <div class="container">
        <div class="col-md-4 test-cde-instruction-section text-justify">
            <h4 id="test-code-instruction-title" class="text-info">Test code instruction</h4>
            <div class="exercise-detail pre-scrollable">
                <div id="test-code-instruction-body">
                    We can also divide one number by another.
                    JavaScript uses the / symbol for division.
                    You are given two linked lists representing two non-negative numbers.
                    The digits are stored in reverse order and each of their nodes contain a single digit.
                    Add the two numbers and return it as a linked list./home/cong/web/CodeMirror/mode
                </div>
            </div>
            <div id="exercise-test-case">
                <h4 id="exercise-test-case-header" class="text-danger">
                    Test case file format
                </h4>
                <div id="exercise-test-case-body" class="pre-scrollable">
                    <p>
                        x1=2;x2=4;x3=6;x4=8 => y=12
                    </p>
                    <p>
                        x1=2;x2=4;x3=6;x4=8 => y=12
                    </p>
                    <p>
                        x1=2;x2=4;x3=6;x4=8 => y=12
                    </p>
                    <p>
                        x1=2;x2=4;x3=6;x4=8 => y=12
                    </p>

                    <p>
                        x1=2;x2=4;x3=6;x4=8 => y=12
                    </p>

                    <p>
                        x1=2;x2=4;x3=6;x4=8 => y=12
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8 code-editor-field">
            <div id="code-editor-header" class="row">
                <div class="col-md-2 form-group form-inline">
                    <h4>
                        <label for="code-js" class="text-danger">
                            Input code
                        </label>
                    </h4>
                </div>
                <div class="form-group col-md-6 form-inline">
                    <label for="code-file-input">Or </label>
                    <input type="file" class="filestyle" data-buttonText="Upload code file" id="code-file-input">
                </div>
                <div class="form-group col-md-4 select-language-input form-inline">
                    <label for="code-language">Language </label>
                    <select class="form-control" id="code-language">
                        <option>C#</option>
                        <option>Java</option>
                        <option>C++</option>
                        <option>Python</option>
                    </select>
                </div>
            </div>
            <div id="code-editor-body" class="row">
                <input type="hidden" id="exercise-id" value="123">
                <textarea cols="60" rows="20" class="form-control" spellcheck="false" id="code-js"
                          style="color: #1b6d85">
                    var widgets = []
function updateHints() {
  editor.operation(function(){
    for (var i = 0; i < widgets.length; ++i)
      editor.removeLineWidget(widgets[i]);
    widgets.length = 0;

    JSHINT(editor.getValue());
    for (var i = 0; i < JSHINT.errors.length; ++i) {
      var err = JSHINT.errors[i];
      if (!err) continue;
      var msg = document.createElement("div");
      var icon = msg.appendChild(document.createElement("span"));
      icon.innerHTML = "!!";
      icon.className = "lint-error-icon";
      msg.appendChild(document.createTextNode(err.reason));
      msg.className = "lint-error";
      widgets.push(editor.addLineWidget(err.line - 1, msg, {coverGutter: false, noHScroll: true}));
    }
  });
  var info = editor.getScrollInfo();
  var after = editor.charCoords({line: editor.getCursor().line + 1, ch: 0}, "local").top;
  if (info.top + info.clientHeight < after)
    editor.scrollTo(null, after - info.clientHeight + 3);
}
                </textarea>
            </div>
            <div id="code-editor-footer">
                <div class="form-group col-md-6 form-inline">
                    <input type="file" class="filestyle" data-buttonText="Upload test case file" id="code-file-input">
                </div>
                <div class="form-group col-md-6 select-language-input form-inline">
                    <button type="button" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'elearning_system/base/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'elearning_system/base/js/bootstrap.js' %}"></script>
    {#    <script type="text/javascript" src="{% static 'elearning_system/base/js/jquery.numberedtextarea.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'elearning_system/base/js/bootstrap-filestyle.js' %}"></script>
    {#    <script>#}
    {#        $('#code-editor').numberedtextarea();#}
    {#    </script>#}

    <script type="text/javascript" src="{% static 'elearning_system/base/js/bootstrap.js' %}"></script>

    <script src="{% static 'elearning_system/exercise/code_mirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/mode/javascript/javascript.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/mode/css/css.js' %}"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js"></script>
    <script src="https://rawgithub.com/zaach/jsonlint/79b553fb65c192add9066da64043458981b3972b/lib/jsonlint.js"></script>
    <script src="https://rawgithub.com/stubbornella/csslint/master/release/csslint.js"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/lint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/javascript-lint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/json-lint.js' %}"></script>
    <script src="{% static 'elearning_system/exercise/code_mirror/addon/lint/css-lint.js' %}"></script>

    <script>
  var editor = CodeMirror.fromTextArea(document.getElementById("code-js"), {
    lineNumbers: true,
    mode: "javascript",
    gutters: ["CodeMirror-lint-markers"],
    lint: true
  });
</script>
{% endblock %}
